<% comment = show %>

<div class="comment">
  <table>
    <tr>
      <td class="header">Comment ID #<%= comment.id %> by:</td>
      <td><%=h comment.commenter %></td>
    </tr>
    <tr>
      <td class="header">On:</td>
      <td><%=h comment.written_on %></td>
    </tr>
    <tr>
      <td class="content" colspan="2">
        <%=(h comment.content).gsub("\n", "<br/>") %></pre>
      </td>
    </tr>
  </table>
</div>
