body, table td { font-size: 85% }

pre,code,tt {
  font:  'andale mono', 'monotype.com', 'lucida console', monospace;
  line-height: 1;
  white-space: pre;
}

pre {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}


table.diff_header, table.review_header {
  border: solid 1px #000;
  margin: 1em;
}

table.review_header { margin-left: 0; }

.file_change_set .file_change_set_header { 
  margin-top: 1em;
  margin-left: 1.5em;
  background: #ccc;  
  border: 1px solid #000;
  padding: 0.5em;
}

.file_change_set .file_change_set_header .header,
.review_header .header,
.diff_header .header,
.comment .header
{
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
  vertical-align: top;
}

.file_change_set .file_change_set_header .binary_files {
  background: #ff6;
  border: 1px solid #000;
  font-weight: bold;
}

.diff_chunk { 
  margin: 10px 2em;
}

.diff_chunk table { 
  border: 0;
  border-collapse: collapse;
}

.diff_chunk td { 
  border: 1px solid #999;
}

.diff_line .inserted { 
  background: #afa;
}

.diff_line .deleted {
  background: #faa;
}

.diff_line .line_number {
  background: #ffc;
  color: #999;
  text-align: center;
}

.diff_line code { margin: 0 1em; }


div.comment {  margin: 1em;}

.comment table {
  border: 10px solid #66f;
  background: #fff;
  margin: 1em;
}


/* Review Status */

table.review_status { border-collapse: collapse; margin-left: 20px; margin-bottom: 10px;}
.review_status .header td { padding: 0em; padding-right: 1em; padding-bottom: 5px; text-decoration: underline;}
.review_status td { padding: 0.0em;}
.review_status tr.unapproved { border: solid 2px #f00; }
.review_status .unapproved td, .review_summary li.unapproved { background: #fcc;}
.review_status .approved td, .review_summary li.approved { background: #6f6; }
.review_status ul { padding-left: 2em; margin-top: 0.5em;}
.review_status li { list-style-type: square; padding-left: 0em; margin-left: 0em;  }

/* Review summary */

table.review_summary { border: solid 1px #000; margin-left: 0em; }
.review_summary .header { font-weight: bold; }
 { background: #9f9; }

div.commit { background: #ddf; margin: 1em; }
div.commit table {  background: #fff; }